<p>
  <strong>Пост: </strong>
  <%= @post.title %>
</p>

<p>
  <strong>Содержание: </strong>
  <%= @post.description %>
</p>

<h3>Комментарии</h3>
  <table>
    <thead>
      <tr>
        <th>Автор</th>
        <th>Комментарий</th>
      </tr>
    </thead>
    <tbody>
      <%= render @post.comments %>
    </tbody>
  </table>

<h3>Оставить новый комментарий</h3>

<%= render 'comments/form' %>

<p>
  <%= link_to 'Создать новый пост', new_post_path(@post) %>
</p>

<%= link_to 'Назад ко всем постам', user_root_url %> 
                       