<!DOCTYPE html>
<html>
  <head>
    <title>Psycho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
    <%= link_to 'Регистрация', new_user_registration_path %>
    <%= link_to 'Войти', new_user_session_path %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
